.wrapper {
  position: relative;
}

.video_container {
  height: 150vh;
  width: 100%;
  overflow: hidden;
  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0% 65%;
    filter: brightness(0.9);
  }
}

.el_container {
  height: "fit-content";
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  h1 {
    margin-top: 7rem;
    color: var(--background-color);
    font-size: 19.5vw;
    font-weight: 300;
    font-family: "Butler";
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: -0.5rem;
    overflow: hidden;
    line-height: 0.5;
    text-align: center;
    span {
      display: inline-block;
      line-height: 1;
      height: 50px;
    }
  }
}
